body{
    margin: 0;
    padding: 0;
    background-image: url('triangles.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.card{
    width: 750px;
    background-image: linear-gradient(115.64878265215202deg, rgba(243, 72, 104,10) 32.810546875%,rgba(237, 67, 113,10) 35.22737630208333%,rgba(158, 0, 236,1.0400890868596893) 70.232421875%,rgba(158, 0, 236,1) 70.232421875%);
    margin: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 0 0;
    flex-direction: column;
    border-radius: 10px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

.search input{
    width: 85%;
    padding: 10px 10px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding-left: 20px;
}

.search input::placeholder{
    font-size: 15px;
    padding-left: 10px;
}

.search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}

.search-button img{
    height: 15px;
}

@media screen and (max-width: 600px){
    .card{
        width: 550px;
        margin: auto;
    }

    .search input{
        width: 80%;
    }

}